.search {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.suggestions {
  display: flex;
  justify-content: center;
}

.suggestion {
  padding: 6px;
}

.searchForm {
  text-align: center;
  padding-bottom: 12px;

  input {
    margin-right: 6px;
  }
}
